<div class="m-width mb-5">
    <div class="container mat-elevation-z8" style="padding: 0;">
      <mat-table [dataSource]="DataSource">
        <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->
        
        
        <ng-container matColumnDef="title">
          <mat-header-cell
            *matHeaderCellDef
            style="justify-content: center;font-size: large;"
            colspan="0"
          >
            EMPLOYEE
          </mat-header-cell>
        </ng-container>
        <!-- Serial no -->
        <ng-container matColumnDef="sno">
          <mat-header-cell *matHeaderCellDef 
            >S.NO.</mat-header-cell
          >
          <mat-cell *matCellDef="let element" >
            {{element.SerialNum}} 
          </mat-cell>
        </ng-container>
        <!-- Employee code Column -->
        <ng-container matColumnDef="awardtype">
            <mat-header-cell *matHeaderCellDef 
              >AWARD TYPE</mat-header-cell
            >
            <mat-cell *matCellDef="let element" >
              {{element.AwardType}} 
            </mat-cell>
          </ng-container>
        <ng-container matColumnDef="ecode">
          <mat-header-cell *matHeaderCellDef>EMPLOYEE CODE</mat-header-cell>
          <mat-cell *matCellDef="let element">{{
            element.Pernr 
          }}</mat-cell>
        </ng-container>
  
        <!-- Employee name Column -->
        <ng-container matColumnDef="ename">
          <mat-header-cell *matHeaderCellDef>EMPLOYEE NAME</mat-header-cell>
          <mat-cell *matCellDef="let element">{{
            element.EmpName 
          }}</mat-cell>
        </ng-container>
  
        <!-- Mobile Number -->
        <ng-container matColumnDef="certMobile">
          <mat-header-cell *matHeaderCellDef>CERTIFIED MOBILE</mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.MobileNumber }}
          </mat-cell>
        </ng-container>
  
        <!--* STATUS -->
        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef>STATUS</mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.Status }}
          </mat-cell>
        </ng-container>
  
        <!-- Remarks  -->
        <ng-container matColumnDef="remarks">
          <mat-header-cell *matHeaderCellDef class="text-center">
            REMARKS
          </mat-header-cell>
          <!-- <td [ngClass]="{ status: status }" mat-cell *matCellDef="let element"> -->
          <mat-cell *matCellDef="let element">
            {{ element.Remarks }}
          </mat-cell>
        </ng-container>
  
       
  
        <!-- *This container is for loading mat-footer-row -->
        <ng-container matColumnDef="loading">
          <mat-footer-cell
            style="
            justify-content: center;
            font-style: italic;
            font-weight: 550;
            color: rgb(46, 46, 161); "
            *matFooterCellDef
            colspan="0"
          >
           <span #loading> Loading data ...</span>
          </mat-footer-cell>
        </ng-container>
        <!-- *This container is for loading mat-footer-row -->
        <ng-container matColumnDef="noData">
          <mat-footer-cell
            *matFooterCellDef
            style="justify-content: center; font-style: italic;"
            colspan="0"
          >
            No data
          </mat-footer-cell>
        </ng-container>
        
        
        <mat-header-row class="title" style="min-height: 40px;" *matHeaderRowDef="['title']"></mat-header-row>
        <mat-header-row *matHeaderRowDef="DisplayedColumns"></mat-header-row>
        <mat-row
          class="text-center"
          *matRowDef="let row; columns: DisplayedColumns"
        ></mat-row>
        
        <!-- *For Loading And no data -->

        <mat-footer-row
          *matFooterRowDef="['loading']"
          [ngClass]="{ hide: DataSource != null }"
        ></mat-footer-row>
        <mat-footer-row
          *matFooterRowDef="['noData']"
          [ngClass]="{
            hide: !(
                DataSource != null && DataSource?.data?.length === 0
            )
          }"
        ></mat-footer-row>
      </mat-table>
      <!-- <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
      ></mat-paginator> -->
    </div>
  </div>